.itunes-input {
  width: 50%;
}
.itunes-input > input {
  width: 100%;
}

.itunes-subtitles {
  margin-top: 1mm;
}
.itunes-subtitles > p {
  margin-left: 2mm;
}

.card {
    margin-bottom: 1em;
}

.card-body > hr:last-child {
    display: none
}